flows.json
[{"id":"711f946.643ef6c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f48d417.ccafdc","type":"function","z":"711f946.643ef6c","name":"PreToken","func":"global.set(\"pg\",msg.payload.pg)\nglobal.set(\"ps\",msg.payload.ps)\nglobal.set(\"pr\",msg.payload.pr)\nglobal.set(\"sk\",msg.payload.sk)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"pd\",msg.payload.pd)\nglobal.set(\"ag\",msg.payload.ag)\nvar apikey=\"ZWO6PjEXudqHRg0c0sYhT-cya7MkW502YZbIxpclqmbq\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":271.50000762939453,"y":397.0000057220459,"wires":[["466d4fff.2f953"]]},{"id":"466d4fff.2f953","type":"http request","z":"711f946.643ef6c","name":"http request","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":true,"proxy":"","authType":"","x":445.50000762939453,"y":397.2500057220459,"wires":[["cc0756f1.a0dcd8"]]},{"id":"f2dc3178.004","type":"debug","z":"711f946.643ef6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1119.9166221618652,"y":195.0833330154419,"wires":[]},{"id":"cc0756f1.a0dcd8","type":"function","z":"711f946.643ef6c","name":"Pre Prediction","func":"var pg = global.get('pg')\nvar ps = global.get('ps')\nvar pr = global.get('pr')\nvar sk = global.get('sk')\nvar ts = global.get('ts')\nvar ms = global.get('ms')\nvar pd = global.get('pd')\nvar ag = global.get('ag')\nvar token=msg.payload.access_token\nvar instance_id=\"3ba012ae-39af-4a78-a71c-a6cb14851e75\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"preg\", \" plas\", \"pres\", \"Skin \", \"test\", \"mass\", \"pedi\", \"age\"], \"values\": [[pg,ps,pr,sk,ts,ms,pd,ag]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":652.5000076293945,"y":397.7500057220459,"wires":[["39ffd80f.0f41c8"]]},{"id":"39ffd80f.0f41c8","type":"http request","z":"711f946.643ef6c","name":"http request","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/304eca5a-2124-4b8f-908b-b48d8ee1c528/predictions","tls":"","persist":true,"proxy":"","authType":"","x":847.2500152587891,"y":398.0000057220459,"wires":[["3d3f4f53.5008f","f2dc3178.004"]]},{"id":"92d896dd.3befb8","type":"ui_form","z":"711f946.643ef6c","name":"","label":"","group":"b23bec70.5142a","order":1,"width":0,"height":0,"options":[{"label":"Preg","value":"pg","type":"number","required":true,"rows":null},{"label":"Plas","value":"ps","type":"number","required":true,"rows":null},{"label":"Pres","value":"pr","type":"number","required":true,"rows":null},{"label":"Skin","value":"sk","type":"number","required":true,"rows":null},{"label":"Test","value":"ts","type":"number","required":true,"rows":null},{"label":"Mass","value":"ms","type":"number","required":true,"rows":null},{"label":"Pedi","value":"pd","type":"number","required":true,"rows":null},{"label":"Age","value":"ag","type":"number","required":true,"rows":null}],"formValue":{"pg":"","ps":"","pr":"","sk":"","ts":"","ms":"","pd":"","ag":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":123.75000381469727,"y":397.5000057220459,"wires":[["f48d417.ccafdc"]]},{"id":"6a13792.b354a88","type":"ui_text","z":"711f946.643ef6c","group":"b23bec70.5142a","order":2,"width":0,"height":0,"name":"","label":"positive(1) negative(0)","format":"{{msg.payload}}","layout":"row-spread","x":994.1000518798828,"y":546.4500188827515,"wires":[]},{"id":"3d3f4f53.5008f","type":"function","z":"711f946.643ef6c","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":400,"wires":[["6a13792.b354a88"]]},{"id":"b23bec70.5142a","type":"ui_group","z":"","name":"Diabetes Mellitus Prediction","tab":"b61ec606.b2f448","order":1,"disp":true,"width":"6","collapse":false},{"id":"b61ec606.b2f448","type":"ui_tab","z":"","name":"druva project","icon":"dashboard","disabled":false,"hidden":false}]